<h1 class="titulo"> Calculadora Study</h1>

<h3>Selecione uma operação</h3>


<po-select class="po-select" [p-options]="[
{ label: ' Soma', value: '1' },
{ label: 'Subtração', value: '2' },
{ label: 'Multiplicação', value: '3' },
{ label: 'Divisão', value: '4' }
]">
</po-select>


<div class="input-content">
  <po-input name="input" p-label="Valor 1" [(ngModel)]="som1"></po-input>
  <span class="operadores">+</span>
  <po-input name="input" p-label=" Valor 2" [(ngModel)]="som2"></po-input>
  <po-input name="input" p-label=" Resultado" p-disabled p-placeholder="{{resultSom1}}"></po-input>
  <po-button p-label="Calcular" (click)="sum(som1, som2)"></po-button>
</div>

<div class="input-content">
  <po-input name="inputSoma" p-label="Valor 1" [(ngModel)]="sub1"></po-input>
  <span class="operadores">-</span>
  <po-input name="input" p-label=" Valor 2" [(ngModel)]="sub2"></po-input>
  <po-input name="input" p-label=" Resultado" p-disabled p-placeholder="{{resultSub1}}"></po-input>
  <po-button p-label="Calcular" (click)="sub(sub1, sub2)"></po-button>
</div>

<div class="input-content">
  <po-input name="input" p-label="Valor 1" [(ngModel)]="mult1"></po-input>
  <span class="operadores">*</span>
  <po-input name="input" p-label=" Valor 2" [(ngModel)]="mult2"></po-input>
  <po-input name="input" p-label=" Resultado" p-disabled p-placeholder="{{resultMult1}}"></po-input>
  <po-button p-label="Calcular" (click)="mult(mult1, mult2)"></po-button>
</div>

<div class="input-content">
  <po-input name="input" p-label="Option 1" [(ngModel)]="div1"></po-input>
  <span class="operadores">÷</span>
  <po-input name="input" p-label="Option 2" [(ngModel)]="div2"></po-input>
  <po-input name="input" p-label=" Resultado" p-disabled p-placeholder="{{resultDiv1}}"></po-input>
  <po-button p-label="Calcular" (click)="div(div1, div2)"></po-button>
</div>
<div>